{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5 text-center">
    <h1 class="mb-4">Subscription Successful</h1>
    <p>
        Thank you for subscribing to the <strong>{{ membership.name }}</strong> membership!
    </p>
    <p>
        You now have: <em>{{ membership.description }}</em>
    </p>

    <a href="{% url 'my_membership' %}" class="btn btn-primary mt-4">Go to My Membership</a>
</div>
{% endblock %}